.navBarRb {
  z-index: 9;
}

.logo {
  width: 150px;
  height: 47px;
}
.btn-brand {
  /* width: 134px;
  height: 45px; */
  border-radius: 5px !important;
  background-color: #111430 !important;
  border-style: none !important;
}

.navLink {
  color: #111430;
}

.navLink:hover {
  text-decoration: none;
}
